* {
  margin: 0;
  font-family: "Open Sans", sans-serif;
}
.primary-color {
  color: #fd6e0a;
}
nav {
  display: flex;
  justify-content: space-between;
}
nav ul {
  display: flex;
  align-items: center;
}
nav li {
  list-style: none;
  margin-top: 50px;
  font-weight: 200;
  margin-right: 30px;
}
.background {
  background: #fff8f3;
  background-image: url(./images/header_bg.png), url(./images/developer.png);
  background-repeat: no-repeat;
  background-position: bottom right, left;
  padding-left: 50px;
}
.btn-primary {
  color: #f1f0ef;
  background-color: #fd6e0a;
  border-radius: 5px;
  border: none;
  font-weight: 500;
  width: 150px;
  height: 64px;
  top: 50px;
  margin-right: 150px;
  font-size: 21px;
}
h3 {
  margin: 50px 340px;
  font-size: 40px;
}
.banner-first-text {
  font-weight: 400;
  margin-top: 20px;
  display: block;
}
.banner-second-text {
  font-weight: 700;
  font-size: 60px;
  margin-top: 20px;
  display: block;
}
.banner {
  display: flex;
  margin: 0px 200px;
}

.banner-text {
  margin-left: 150px;
  margin-top: 250px;
}
.banner-third-text {
  margin-top: 20px;
  color: #cbc7c4;
  margin-bottom: 10px;
  display: block;
  margin-right: 435px;
  margin-bottom: 10px;
  padding-bottom: 10px;
}
.btn-secondary {
  color: #fd6e0a;
  background-color: #fff8f3;
  border-radius: 5px;
  border: 2px solid #ffd8bc;
  font-weight: 500;
  width: 120px;
  height: 60px;
  font-size: 21px;
  margin-left: -110px;
}
.marg {
  margin-right: -150px;
}
.for-btn {
  margin-top: 10px;
}
/* About section */
.about-section {
  max-width: 1140px;
  background-color: #fff8f3;
  margin-top: 130px;
  margin: 0 auto;
  text-align: center;
}
.about-description {
  padding: 131px 156px;
}
.about-description h2 {
  margin-bottom: 30px;
  font-size: 35px;
  font-weight: 700;
  color: #181818;
}
.about-description p {
  margin-bottom: 30px;
  font-weight: 400;
  color: #757575;
  font-size: 18px;
}
.for-all {
  margin-top: 130px;
}
.about-info {
  display: flex;
  justify-content: space-around;
  margin-top: -90px;
  padding-bottom: 100px;
}
.second-color {
  color: #757575;
  font-weight: 400;
  font-size: 18px;
}
.color {
  font-weight: 700;
}
.what-i-do {
  margin-top: 100px;
  margin-bottom: 40px;
  text-align: center;
  font-size: 60px;
  font-family: 500;
}
.Do {
  max-width: 1140px;
}
.do-description {
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  color: #757575;
  max-width: 1140px;
  margin: auto;
  margin-bottom: 50px;
}
.skills-container {
  max-width: 1140px;
  display: flex;
  align-items: center;
  gap: 24px;
  margin: auto;
}
.skill {
  background: #ffffff;
  box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
  border-radius: 5px;
  text-align: left;
  padding: 33px;
}
.skill-title {
  font-size: 20px;
  font-weight: 700;
  margin-top: 30px;
}
.skill-description {
  font-size: 16px;
}
.resume-main {
  margin-left: 380px;
  margin-right: 380px;
}
.resume-main {
  display: flex;
  gap: 15px;
  padding-bottom: 20px;
  left: 20px;
}
.resume-education {
  border-bottom: 2px solid #f3f3f3;
  margin-top: 15px;
}
.resume-experience {
  border-bottom: 2px solid #f3f3f3;
  margin-top: 15px;
}
.my-summary {
  margin: 100px 100px;
  text-align: center;
  font-weight: 700;
  font-size: 50px;
}
.btn-third {
  color: #f1f0ef;
  background-color: #fd6e0a;
  border-radius: 5px;
  border: none;
  font-weight: 500;
  width: 150px;
  height: 64px;

  font-size: 21px;
  margin-left: 850px;
  margin-top: 30px;
  margin-bottom: 20px;
}
.contact {
  background-color: #fff8f3;
}
.contact-start {
  display: flex;
  max-width: 1140px;
}
.for-margin-left {
  margin-left: 380px;
}
.contact-left h3 {
  font-size: 25px;
  margin-left: 380px;
}
.contact-left p {
  margin-bottom: 20px;
}
.contact-left a {
  text-decoration: none;
}
.contact-right h3 {
  font-size: 25px;
  text-align: left;
}
.div-for-form {
  margin-left: 348px;
}
.text-input {
  width: 461px;
  height: 64px;
  background: #ffffff;
  border-radius: 5px;
  margin-right: 700px;
  border: none;
  padding-left: 20px;
  margin-top: 24px;
}
.text-area {
  width: 461px;
  height: 180px;
  background: #ffffff;
  border-radius: 5px;
  margin-right: 700px;
  border: none;
  padding-left: 20px;
  margin-top: 24px;
  text-align: left;
}
.btn-four {
  color: #f1f0ef;
  background-color: #fd6e0a;
  border-radius: 5px;
  border: none;
  font-weight: 500;
  width: 150px;
  height: 64px;
  font-size: 20px;
}
.for-four-button {
  margin-left: 350px;
  margin-top: 50px;
}
.experience-1 {
  font-size: 25px;
  margin-bottom: 10px;
  font-weight: 700;
}
.experience-2 {
  font-weight: 600;
  font-size: 20px;
  color: #757575;
  margin-bottom: 15px;
}
.experience-3 {
  font-size: 20px;
  color: #757575;
  margin-bottom: 15px;
}
}
.experience-4 {
  margin-bottom: 15px;
  font-size: 16px;
  color: #757575;
}
